<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li><a href="" ng-click="predicate = 'createdAt'; reverse=true">Latest</a></li>
      <li><a href="" ng-click="predicate = 'createdAt'; reverse=false">Oldest</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6" ng-repeat="soundtrack in soundtracks | orderBy:predicate:reverse">
    <div class="panel panel-default">
      <div class="panel-heading">{{ soundtrack.book.title }} <span class="label label-default">{{ soundtrack.createdAt | date:'dd MMM yyyy'}}</span></div>
      <div class="panel-body">
        <img src="{{ soundtrack.book.thumbnail }}"/>
        <p><span ng-repeat="author in soundtrack.book.authors">{{ author }}</span></p>
        <ol>
          <li ng-repeat="track in soundtrack.tracks track by $index">{{ track.name }} - {{ track.artist }}</li>
        </ol>
        <p>{{ soundtrack.author }}</p>
      </div>
    </div>
  </div>
</div>