<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Experience a book like never before...</h1>
        <p>Create spotify playlists themed around your all-time favourite novels</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2>Latest playlists</h2>
      <ul class="booklist clearfix">
        <li ng-repeat="playlist in playlists" class="col-md-3 col-sm-4 col-xs-6">

          <div class="book">
            <div class="thumb">
              <a href="/#/playlists/{{playlist.id}}">
                <img src="{{playlist.book.thumbnail}}"/>
              </a>
            </div>
            <div class="book-content">
              <h3>{{playlist.title | cut:false:35:'...'}}</h3>
              <p>{{playlist.book.title}}</p>
              <p><a href="#">{{playlist.genre}}</a></p>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>