<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Experience a book like never before...</h1>
        <p>Create spotify playlists themed around your all-time favourite novels</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2>Latest playlists</h2>
      <ul class="booklist clearfix">
        <li ng-repeat="playlist in playlists" class="col-md-4 col-sm-6 col-xs-12">

          <div class="playlist">
            <div class="thumb">
              <a href="/#/playlists/{{playlist.id}}">
                <img src="{{playlist.book.thumbnail}}"/>
              </a>
            </div>
            <div class="playlist-content">
              <h3><a href="/#/playlists/{{playlist.id}}">{{playlist.title | cut:false:40:'...'}}</a></h3>
              <p>{{playlist.book.title | cut:false:40:'...'}}</p>
              <p><em>{{playlist.genre}}</em></p>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>