<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Playlists by {{username}}</h2>
      <form class="form-inline playlist-form">
        <div class="form-group">
          <select class="form-control" ng-model="sort_genre">
            <option selected="selected" value="all">All genres</option>
            <option ng-repeat="genre in genres">{{genre}}</option>
          </select>
        </div>
      </form>
      <ul class="booklist clearfix">
        <li ng-repeat="playlist in playlists" class="col-md-4 col-sm-6 col-xs-12" ng-show="playlist.genre == sort_genre || sort_genre == 'all'"<form class="form-inline playlist-form">
          <div class="playlist">
            <div class="thumb">
              <a href="/#/playlists/{{playlist.id}}">
                <img src="{{playlist.book.thumbnail}}"/>
              </a>
            </div>
            <div class="playlist-content">
              <h3><a href="/#/playlists/{{playlist.id}}">{{playlist.title | cut:false:40:'...'}}</a></h3>
              <p>{{playlist.book.title | cut:false:40:'...'}}</p>
              <p><em>{{playlist.genre}}</em></p>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>