.booklist {
  margin: 30px -15px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  .book {
    display: inline-block;
    width: 200px;
    margin: 15px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    &:hover {
      img {
        @include box-shadow(0px 5px 5px rgba(0,0,0,0.2));
        @include translateY(-5px);
      }
    }
    .thumb {
      height: 150px;
      img {
        max-height: 100%;
        @include transition(all 500ms);
      }
    }
    h3 {
      font-size: 1.1em;
      line-height: 1.5em;
    }
  }
}