html {
  height: 100%;
}
body {
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  font-size: 14px;
  background: #F3F2F2;
  color: $mid-grey;
  overflow-x: hidden;
}
#page {
  margin-top: 50px;
  position: relative;
  left: 0;
  @include transition(left 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
  &.nav-open {
    left: -$sidebar-width;
  }
}
.content {
  margin-right: $sidebar-width;
  padding: 30px;
}
.header {
  background: $blue url('../images/arches.png');
  padding: 120px 0;
  margin-bottom: 20px;
  color: #fff;
  h1 {
    margin-top: 0;
    letter-spacing: 0.05em;
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 2.8em;
  }
  p {
    font-size: 1.2em;
  }
}

h2 {
  color: #aaa;
  font-weight: 200;
  font-size: 1.8em;
  letter-spacing: 0.05em;
  margin-top: 40px;
}

table {
  margin-top: 20px;
  tbody {
    background: #f6f6f6;
    tr:nth-child(odd) {
      background: #eee!important;
    }
    th {
      border: none!important;
    }
    td {
      border: none!important;
      vertical-align: middle!important;
      font-size: 0.9em;
      .btn {
        line-height: 0.9em;
        padding: 3px 2px;
        border-radius: 2px;
      }
    }
  }
}
.table>thead>tr>th {
  border: none!important;
  padding-bottom: 20px;
}

.btn {
  &:hover, &:active, &:focus, &:active:focus {
    outline: 0;
    @include box-shadow(none);
  }
}
.btn-primary {
  background: $orange;
  border-color: $orange;
  border-radius: 2px;
  &:hover, &:active, &:focus, &:active:focus {
    background: $dark-orange;
    border-color: $dark-orange;
  }
  &.disabled {
    background: lighten($orange, 15%);
    border-color: lighten($orange, 15%);
    &:hover {
      background: lighten($orange, 15%);
      border-color: lighten($orange, 15%);
    }
  }
}
.btn-default {
  background: $green;
  border-color: $green;
  color: #fff;
  border-radius: 2px;
  &:hover, &:active, &:focus, &:active:focus {
    background: $dark-green;
    border-color: $dark-green;
    color: #fff;
  }
}

.btn-dark {
  background: $blue;
  border-color: $blue;
  color: #fff;
  border-radius: 2px;
  &:hover, &:active, &:focus, &:active:focus {
    background: $dark-blue;
    border-color: $dark-blue;
    color: #fff;
  }
}

a {
  color: $orange;
  &:hover {
    color: $dark-orange;
  }
}

.modal-header h4 {
  font-size: 1.1em;
}
.modal-footer {
  background: #eee;
}
.search {
  margin-top: 40px;
}