body {
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  font-size: 13px;
  background: $grey;
  color: $mid-grey;
}
#page {
  margin-top: 50px;
}
.content {
  margin-right: $sidebar-width;
  padding: 30px;
}
.content-wide {
  padding: 30px;
}

table {
  margin-top: 20px;
  tbody {
    background: #f6f6f6;
    tr:nth-child(odd) {
      background: #eee!important;
    }
    th {
      border: none!important;
    }
    td {
      border: none!important;
      vertical-align: middle!important;
      .btn {
        line-height: 0.9em;
        padding: 5px;
      }
    }
  }
}
.table>thead>tr>th {
  border: none!important;
  padding-bottom: 20px;
}

.btn-primary {
  background: $orange;
  border-color: $orange;
  border-radius: 2px;
  &:hover, &:active, &:focus {
    background: $dark-orange;
    border-color: $dark-orange;
  }
}

a {
  color: $orange;
  &:hover {
    color: $dark-orange;
  }
}