.form-control {
  @include box-shadow(none);
  &:focus {
    border-color: #ccc;
    @include box-shadow(none);
  }
}
.input-lg {
  height: 45px!important;
  border: none;
  border-radius: 2px;
  color: $mid-grey;
  background: $white;
}
.input-group-btn .btn {
  background: $white;
  color: #ccc;
  border-radius: 2px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  margin-left: 0;
}
.search-message {
  margin-top: 20px;
}
.modal-footer .form-group {
  display: inline-block;
}