.navbar-default {
  background-color: $orange;
  border: none;
  height: 60px;
  padding: 5px;
  .navbar-brand {
    color: $white;
    font-family: "grafolita-script",sans-serif;
    font-size: 1.7em;
    padding-left: 20px;
    padding-right: 20px;
    @include transition(color 200ms);
    &:hover, &:focus {
      color: lighten($orange, 25%); }}
  .navbar-text {
    color: $darker-orange; }
  .navbar-nav {
    &.sidebar-nav {
      background-color: $blue;
      width: $sidebar-width;
      a {
        color: $light-blue;
        &:hover,  &:focus {
          background-color: $dark-blue;
          color: $light-blue;
        }
      }
      li {
        float: right;
      }
    }
    > li {
      > a {
        color: $white;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 200;
        letter-spacing: 0.05em;
        &:hover,  &:focus {
          color: lighten($orange, 25%); }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: lighten($orange, 25%); }}
    > .open {
      > a, > a:hover, > a:focus {
        color: lighten($orange, 25%); }}}
  .navbar-toggle {
    border-color: $dark-orange;
    &:hover, &:focus {
      background-color: $dark-orange; }
    .icon-bar {
      background-color: $darker-orange; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $darker-orange;
    margin: 5px 0;
    .input-group {
      background-color: $dark-orange;
    }
    .form-control {
      width: 400px;
      border: none;
      background-color: transparent;
      border-radius: 0;
      color: $white;
      padding: 20px 10px;
      @include input-placeholder {
        color: lighten($orange, 25%);
      }
      &:focus {
        @include input-placeholder {
          color: $white;
        }
      }
    }
    .input-group-btn {
      .btn {
        border: none;
        background-color: transparent;
        border-radius: 0;
        color: lighten($orange, 25%);
        &:hover {
          color: $white;
        }
      }
    }
  }
  .navbar-link {
    color: $darker-orange;
    &:hover {
      color: $dark-orange; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $darker-orange;
      &:hover, &:focus {
        color: $dark-orange; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $dark-orange;
        background-color: $dark-orange; }}}
}