.navbar-default {
  background-color: $orange;
  border: none;
  height: 50px;
  overflow: hidden;
  width: 100%;
  @include transition(left 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
  &.nav-open {
    left: -$sidebar-width!important;
  }
  .navbar-brand {
    color: $white;
    font-family: "grafolita-script",sans-serif;
    font-size: 1.7em;
    padding-left: 20px;
    padding-right: 20px;
    @include transition(color 200ms);
    &:hover, &:focus {
      color: lighten($orange, 25%); }}
  .navbar-text {
    color: $darker-orange; }
  .navbar-nav {
    > li {
      > a {
        color: $white;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 200;
        letter-spacing: 0.05em;
        &:hover,  &:focus {
          color: lighten($orange, 25%); }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: lighten($orange, 25%); }}
    > .open {
      > a, > a:hover, > a:focus {
        color: lighten($orange, 25%); }}}
  .navbar-toggle {
    border-color: $dark-orange;
    &:hover, &:focus {
      background-color: $dark-orange; }
    .icon-bar {
      background-color: $darker-orange; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $darker-orange;
    margin: 0;
    .input-group {
      background-color: $dark-orange;
    }
    .form-control {
      width: 400px;
      border: none;
      background-color: transparent;
      border-radius: 0;
      color: $white;
      padding: 25px 20px;
      @include input-placeholder {
        color: lighten($orange, 25%);
      }
      &:focus {
        @include input-placeholder {
          color: $white;
        }
      }
    }
    .input-group-btn {
      .btn {
        border: none;
        background-color: transparent;
        border-radius: 0;
        color: lighten($orange, 25%);
        &:hover {
          color: $white;
        }
      }
    }
  }
  .navbar-link {
    color: $darker-orange;
    &:hover {
      color: $dark-orange; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $darker-orange;
      &:hover, &:focus {
        color: $dark-orange; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $dark-orange;
        background-color: $dark-orange; }}}
}

#offcanvas {
  height: 100%;
  background-color: darken($dark-blue, 10%);
  @include box-shadow(inset 20px 0px 40px -20px rgba(0,0,0,0.5));
  width: $sidebar-width;
  position: fixed;
  top: 0;
  right: -$sidebar-width;
  z-index: 9999;
  padding: 20px 30px;
  color: $light-blue;
  @include transition(right 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
  &.nav-open {
    right: 0;
  }
  h3 {
    font-size: 1.1em;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
    padding-left: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid darken($dark-blue, 5%);
      a {
        color: $light-blue;
        padding: 15px 10px;
        display: block;
        &:hover {
          background-color: darken($dark-blue, 5%);
          text-decoration: none;
          color: #fff;
        }

      }
    }
  }
}