.navbar-default {
  background-color: $white;
  border: none;
  height: 50px;
  .navbar-brand {
    color: $orange;
    padding-left: 20px;
    padding-right: 20px;
    @include transition(color 200ms);
    &:hover, &:focus {
      color: $dark-orange; }}
  .navbar-text {
    color: $darker-orange; }
  .navbar-nav {
    &.sidebar-nav {
      background-color: $blue;
      width: $sidebar-width;
      a {
        color: $light-blue;
        &:hover,  &:focus {
          background-color: $dark-blue;
          color: $light-blue;
        }
      }
      li {
        float: right;
      }
    }
    > li {
      > a {
        color: $mid-grey;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 200;
        letter-spacing: 0.05em;
        &:hover,  &:focus {
          background-color: #f3f3f3;
          color: $mid-grey; }}}
    > .active {
      > a, > a:hover, > a:focus {
        background-color: #f3f3f3;
        color: $mid-grey; }}
    > .open {
      > a, > a:hover, > a:focus {
        background-color: #f3f3f3;
        color: $mid-grey; }}}
  .navbar-toggle {
    border-color: $dark-orange;
    &:hover, &:focus {
      background-color: $dark-orange; }
    .icon-bar {
      background-color: $darker-orange; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $darker-orange;
    .input-group {
      border-bottom: 1px solid #eee;
    }
    .form-control {
      width: 400px;
      border: none;
      background-color: transparent;
      border-radius: 0;
    }
    .input-group-btn {
      .btn {
        border: none;
        background-color: transparent;
        border-radius: 0;
        color: $mid-grey;
      }
    }
  }
  .navbar-link {
    color: $darker-orange;
    &:hover {
      color: $dark-orange; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $darker-orange;
      &:hover, &:focus {
        color: $dark-orange; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $dark-orange;
        background-color: $dark-orange; }}}
}