.sidebar {
  height: 100%;
  color: $mid-grey;
  overflow: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  h2 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .remove-song {
    float: right;
    color: $light-blue;
    background: transparent;
    padding: 0;
  }

  .save {
    margin-top: 20px;
  }

  .chosen-book {
    color: $light-blue;
    margin-bottom: 20px;
    .media {
      background: lighten(#61595A, 25%) url('../images/dark-wood.png');
      padding: 10px;
    }
    .media-left {
      width: 60px;
      img {
        height: 100px;
        @include box-shadow(0px 2px 3px rgba(0,0,0,0.3));
      }
    }
    .playlist-info {
      border-bottom: 1px solid #e6e6e6;
      padding: 10px;
      margin-bottom: 20px;
      background: #fff;
    }
    h3 {
      font-size: 1em;
      margin: 2px 0;
      line-height: 1.2em;
      color: #888;
    }
    h4 {
      border-top: 1px solid #eee;
      margin-top: 15px;
      padding-top: 15px;
      font-weight: 400;
      font-size: 1.1em;
    }
    .songs {
      padding-left: 0;
      font-weight: 400;
      font-size: 0.9em;
      margin-bottom: 0;
      li {
        padding-bottom: 8px;
        color: #888;
        list-style-type: none;
      }
      span {
        font-weight: 200;
        color: $light-blue
      }
    }
  }
}