///// COLOURS /////

$orange: #F7935D;
$dark-orange: desaturate(darken($orange, 5%), 10%);
$darker-orange: desaturate(darken($orange, 30%), 40%);
$white: #ffffff;
$brown: #504043;
$light-brown: #C1A6AA;
$dark-brown: darken(#504043, 5%);

///// MEASUREMENTS /////

$sidebar-width: 340px;