///// COLOURS /////

$orange: #f08757;
$dark-orange: desaturate(darken($orange, 5%), 10%);
$darker-orange: desaturate(darken($orange, 30%), 40%);
$white: #ffffff;
$grey: #F8F8F6;
$mid-grey: #888;
$blue: lighten(#3D4450, 10%);
$dark-blue: darken($blue, 3%);
$light-blue: desaturate(lighten($blue, 30%), 10%);
$green: #7CC576;
$dark-green: darken($green, 5%);

///// MEASUREMENTS /////

$sidebar-width: 300px;