<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Ambre</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">

  <script src="//use.typekit.net/vfq8xgg.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body id="login">

  <header>
    <div class="header-content">
      <h1>Create Spotify playlists<br/> for your favourite books.</h1>
      <a href="/authenticate">
        <img src="images/spotify-login.png">
      </a>
    </div>
  </header>

</body>
</html>