<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Search results for: "{{ search_term }}"</h2>

      <ul class="booklist">
        <li ng-repeat="result in search_results track by $index" class="col-md-3 col-sm-4 col-xs-6">

          <div class="book">
            <div class="thumb">
              <a href="/#/books/{{result.id}}">
                <img src="{{result.thumbnail}}"/>
              </a>
            </div>
            <div class="book-content">
              <h3>{{result.title | cut:false:35:'...'}}</h3>
              <p><em>{{result.authors[0]}}&nbsp;</em></p>
            </div>
          </div>


        </li>
      </ul>

      <p class="search-message" ng-hide="search_results != ''">No books matching that search term. Please try another.</p>

    </div>
  </div>
</div>