<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 sidebar">
      <div class="chosen-book">
        <div class="book">
          <div class="thumb thumb-padding">
            <img class="small" src="{{book.thumbnail}}"/>
          </div>
          <div class="book-content">
            <h3>{{playlist.soundtrack.title}}</h3>
            <h3>{{playlist.soundtrack.description}}</h3>
            <p>{{playlist.soundtrack.genre}}</p>
            <h4 ng-show="playlist.soundtrack.tracks.length > 0">Tracks</h4>
            <ol class="songs">
              <li ng-repeat="track in playlist.soundtrack.tracks">
                {{ track.name }}
                <button class="remove-song btn btn-xs" ng-click="removeTrack($index)"><i class="fa fa-times fa-fw"></i></button>
                <br>
                <span>{{ track.artist }}</span>
              </li>
            </ol>
            <button ng-show="playlist.soundtrack.tracks.length > 0" class="btn btn-primary btn-block save" data-toggle="modal" data-target="#savePlaylist"><i class="fa fa-cloud-upload"></i>&nbsp;&nbsp; Publish playlist</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8">
      <form>
        <div class="input-group search">
          <input type="text" class="form-control input-lg" placeholder="Search tracks..." ng-model="searchTerm">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-lg" ng-click="searchTrack(searchTerm)"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>

      <table class="table table-striped" ng-show="search_results">
        <thead>
          <tr>
            <th></th>
            <th>Track</th>
            <th>Artist</th>
            <th>Album</th>
            <th class="text-right">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in search_results track by $index">
            <td><img src="{{result.album.images[2].url}}" width="40px"></td>
            <td>{{result.name}}</td>
            <td>{{result.artists[0].name}}</td>
            <td>{{result.album.name}}</td>
            <td class="text-right">
              <button type="submit" class="btn btn-default btn-xs" ng-click="addTrack(result)"><i class="fa fa-plus fa-fw"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="search-message" ng-hide="search_results != ''">No songs in your Spotify library. Please use the search bar above to find songs.</p>
      <p class="search-message" ng-show="search_results == ''">No songs found for that search term.</p>

    </div>
  </div>
</div>

<div class="modal fade" id="savePlaylist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times fa-fw"></i></button>
        <h4 class="modal-title" id="myModalLabel">Publish your playlist</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to publish this playlist?</p>
        <h4>{{playlist.soundtrack.title}}</h4>
        <p>{{playlist.soundtrack.genre}}</p>
        <h4 ng-show="playlist.soundtrack.tracks.length > 0">Tracks</h4>
        <ol class="songs">
          <li ng-repeat="track in playlist.soundtrack.tracks">
            {{ track.name }}
            <br>
            <span>{{ track.artist }}</span>
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveSoundtrack()">Publish</button>
      </div>
    </div>
  </div>
</div>