<div class="content">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li><a href="" ng-click="predicate = 'createdAt'; reverse=true">Latest</a></li>
        <li><a href="" ng-click="predicate = 'createdAt'; reverse=false">Oldest</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="booklist">
        <li ng-repeat="playlist in playlists | orderBy:predicate:reverse" class="book">
          <a href="/#/playlist/{{playlist.id}}">
            <div class="thumb">
              <img src="{{ playlist.book.thumbnail }}"/>
            </div>
            <h3>{{playlist.title}}</h3>
            <p><em>{{playlist.book.title}}</em></p>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="sidebar">
  <div class="sidebar-content">
    <h2>Latest playlists</h2>
    <ul class="latest-playlists">
      <li ng-repeat="playlist in playlists | orderBy:predicate:reverse">
        <a href="/#/playlist/{{playlist.id}}">
          <div class="media">
            <div class="media-left">
              <img src="{{ playlist.book.thumbnail }}"/>
            </div>
            <div class="media-body">
              <h3>{{ playlist.title }}</h3>
              <p><em>{{ playlist.book.title }}</em></p>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>