<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Experience a book like never before...</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2>Latest playlists</h2>
      <ul class="booklist clearfix">
        <li ng-repeat="playlist in playlists | orderBy:predicate:reverse" class="col-lg-2 col-sm-3 col-xs-4">

          <div class="book">
            <div class="thumb">
              <a href="/#/playlists/{{playlist.id}}">
                <img src="{{playlist.book.thumbnail}}"/>
              </a>
            </div>
            <div class="book-content">
              <h3>{{playlist.title}}</h3>
              <p><a href="#">{{playlist.author}}</a></p>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>