<div class="content-wide">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ playlist.title }} <span class="label label-default">{{ playlist.createdAt | date:'dd MMM yyyy'}}</span></div>
        <div class="panel-body">
          <img src="{{ playlist.book.thumbnail }}"/>
          <h4>{{ playlist.book.title }}</h4>
          <p>{{ playlist.book.author }}</p>
          <iframe src="{{playlist_url}}" frameborder="0" allowtransparency="true" style="min-height: 400px" width="300"></iframe>
          <p>{{ playlist.author }}</p>
          <button type="button" class="btn btn-primary btn-xs" ng-click="downloadPlaylist(playlist)">Download soundtrack</button>
        </div>
      </div>
    </div>
  </div>
</div>