<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="playlist-thumb">
        <a href="/#/books/{{playlist.book.id}}">
          <img src="{{ playlist.book.thumbnail }}"/>
        </a>
      </div>

      <div class="playlist-info">
        <h3>{{ playlist.title }}</h3>
        <p>Genre: <a href="">{{ playlist.genre }}</a></p>
        <p>{{ playlist.description }}</p>
        <p class="author">By: <a href="">{{ playlist.author }}</a></p>
        <p class="date"><em>{{ playlist.createdAt | date:'dd MMM yyyy'}}</em></p>
        <img src="images/create-playlist-green.png" class="create-playlist" ng-click="downloadPlaylist(playlist)" width="100%">
      </div>


    </div>
    <div class="col-md-9">
      <iframe src="{{playlist_url}}" frameborder="0" allowtransparency="true" width="100%" height="80px"></iframe>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Track</th>
            <th>Artist</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="track in playlist.tracks track by $index">
            <td><img src="{{track.cover}}" width="40px"></td>
            <td>{{track.name}}</td>
            <td>{{track.artist}}</td>
            <td>{{track.album}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>