<div class="content-wide">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ playlist.title }} <span class="label label-default">{{ playlist.createdAt | date:'dd MMM yyyy'}}</span></div>
        <div class="panel-body">
          <img src="{{ playlist.book.thumbnail }}"/>
          <h4>{{ playlist.book.title }}</h4>
          <p><span ng-repeat="author in playlist.book.authors">{{ author }}</span></p>
          <ol>
            <li ng-repeat="track in playlist.tracks track by $index">{{ track.name }} - {{ track.artist }}</li>
          </ol>
          <p>{{ playlist.author }}</p>
        </div>
      </div>
    </div>
  </div>
</div>