<div class="row">
  <div class="col-sm-12 text-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control input-lg text-center" placeholder="New mixtape title" ng-model="formData.title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg text-center" placeholder="New mixtape description" ng-model="formData.description">
      </div>
    </form>
  </div>
</div>

<button type="submit" class="btn btn-primary btn-lg" ng-click="createMixtape()">Add tracks</button>