<p>{{tracks}}</p>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control input-lg text-center" placeholder="New mixtape title" ng-model="formData.title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg text-center" placeholder="New mixtape description" ng-model="formData.description">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control input-lg text-center" placeholder="Search tracks..." ng-model="searchTerm">
      </div>
      <button type="submit" class="btn btn-primary btn-lg" ng-click="searchTrack(searchTerm)">Search</button>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Track</th>
          <th>Artist</th>
          <th>Album</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in search_results">
          <td>{{result.name}}</td>
          <td>{{result.artists[0].name}}</td>
          <td>{{result.album.name}}</td>
          <td><button type="submit" class="btn btn-primary" ng-click="addTrack(result)">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button type="submit" class="btn btn-primary btn-lg" ng-click="createMixtape()">Save mixtape</button>

<div class="panel panel-default" ng-repeat="mixtape in mixtapes">
  <div class="panel-heading">{{ mixtape.title }} <span class="label label-default">{{ mixtape.createdAt | date:'dd MMM yyyy'}}</span></div>
  <div class="panel-body">
    <p>{{ mixtape.description }}</p>
    <p>{{ mixtape.playlist_id }}</p>
    <ol>
      <li ng-repeat="track in mixtape.tracks">{{ track.name }} - {{ track.artist }}</li>
    </ol>
    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteMixtape(mixtape._id)">Delete</button>
  </div>
</div>